[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
django-celery-results = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
